Repository FIS2425/history-svc, pull requests merged in 2024-11, with the labels that each got.

#4 Created clinical history model and populate function
  package-lock.json
  package.json
  populators/ClinicalHistory.js
  populators/Template.js
  src/models/ClinicalHistory.js
  src/models/CurrentCondition.js
  src/models/File.js
  src/models/Treatment.js
  src/schemas/templateSchema.js
Labels: 📦 Dependencies, 😎 size/m

#13 Feature/08 crud treatments
  openapi.md
  openapi.yaml
  src/controllers/treatmentController.js
  src/models/Treatment.js
  src/routes/clinicalHistoryRoutes.js
  src/routes/currentConditionRoutes.js
  src/routes/fileRoutes.js
  tests/unit/controllers/treatmentController.test.js
  tests/unit/schemas/clinicalHistorySchema.test.js
Labels: 😖 size/l, ⚙️ Configuration, 🧪 Tests, 📦 Dependencies

#15 Feature/7 crud currentcondition
  openapi.yaml
  src/controllers/currentConditionController.js
  src/controllers/treatmentController.js
  src/models/CurrentCondition.js
  src/routes/clinicalHistoryRoutes.js
  tests/unit/controllers/currentConditionController.test.js
  tests/unit/controllers/treatmentController.test.js
  tests/unit/schemas/clinicalHistorySchema.test.js
Labels: 🧪 Tests, 😎 size/m

#17 Feature/09 crud images
  .env.example
  .gitignore
  openapi.yaml
  package-lock.json
  package.json
  src/config/index.js
  src/controllers/fileController.js
  src/middleware/requestLogger.js
  src/middleware/uploadMiddleware.js
  src/models/File.js
  src/routes/clinicalHistoryRoutes.js
  tests/unit/schemas/clinicalHistorySchema.test.js
Labels: ⚙️ Configuration, 🧪 Tests, 📦 Dependencies, 😎 size/m

#18 Feature/10 crud analytics
  .env.example
  openapi.yaml
  src/controllers/fileController.js
  src/models/ClinicalHistory.js
  src/models/Treatment.js
  src/routes/clinicalHistoryRoutes.js
  tests/unit/controllers/treatmentController.test.js
  tests/unit/schemas/clinicalHistorySchema.test.js
Labels: ⚙️ Configuration, 🧪 Tests, 😎 size/m

#22 Update-template
  .env.example
  .github/CODEOWNERS
  .github/workflows/docker-deploy.yml
  .github/workflows/trigger-api-sync.yml
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  src/utils/kafkaTransport.js
Labels: 🏠 Github Configuration, 📝 Documentation, ⚙️ Configuration, 🚀 CI/CD, 📦 Dependencies, 😎 size/m, 🐳 Build

#25 feat: Updated logs to give more information
  src/controllers/clinicalHistoryController.js
  src/controllers/currentConditionController.js
  src/controllers/fileController.js
  src/controllers/treatmentController.js
  src/middleware/errorHandler.js
  src/middleware/requestLogger.js
Labels: 😖 size/l

#32 Release/v1.0.0
  .env.example
  .github/CODEOWNERS
  .github/workflows/docker-deploy.yml
  .github/workflows/trigger-api-sync.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  Dockerfile
  README.md
  docker-compose.yml
  eslint.config.mjs
  kubernetes/history-svc-deployment.yaml
  kubernetes/history-svc-service.yaml
  kubernetes/mongo-history-persistentvolumeclaim.yaml
  kubernetes/mongodb-deployment.yaml
  kubernetes/mongodb-service.yaml
  openapi.md
  openapi.yaml
  package-lock.json
  package.json
  populators/ClinicalHistory.js
  populators/runPopulator.js
  src/api.js
  src/config/index.js
  src/config/logger.js
  src/controllers/clinicalHistoryController.js
  src/controllers/currentConditionController.js
  src/controllers/fileController.js
  src/controllers/templateController.js
  src/controllers/treatmentController.js
  src/middleware/errorHandler.js
  src/middleware/requestLogger.js
  src/middleware/uploadMiddleware.js
  src/models/ClinicalHistory.js
  src/models/CurrentCondition.js
  src/models/File.js
  src/models/Treatment.js
  src/routes/clinicalHistoryRoutes.js
  src/routes/templateRoute.js
  src/utils/kafkaTransport.js
  tests/sample.test.js
  tests/unit/controllers/clinicalHistoryController.test.js
  tests/unit/controllers/currentConditionController.test.js
  tests/unit/controllers/dummy
  tests/unit/controllers/treatmentController.test.js
  tests/unit/schemas/clinicalHistorySchema.test.js
  tests/unit/schemas/dummy
  tests/unit/utils/dummy
Labels: 🏠 Github Configuration, 📝 Documentation, ⚙️ Configuration, 🚀 CI/CD, 🧪 Tests, 📦 Dependencies, 🤯 size/xl, 🐳 Build

#38 fix: fix start script and image url
  kubernetes/history-svc-deployment.yaml
  package.json
Labels: 📦 Dependencies, size/xs

#39 Hotfix kubernetes config
  .github/workflows/docker-deploy.yml
  kubernetes/history-svc-deployment.yaml
  openapi.md
  package-lock.json
  package.json
Labels: 🚀 CI/CD, 📦 Dependencies, size/s

#41 fix: Fixed mongodb config in kubernetes
  kubernetes/history-svc-deployment.yaml
  kubernetes/mongodb-service.yaml
Labels: size/xs
